<div class="jumbotronx container-fluidx container bs-docs-container">
    <div class="col-md-9" role="main">
	<div class="row">
		<div class="text-center">
			<h4>THE PERSONAL WEBSITE OF</h4>
			<h3>
				<b>KENNETH JOHN CRASTA</b>
			</h3>
			<h4>
				A FULL STACK DEVELOPER FROM TORONTO <img
					src="images/Flag_of_Canada.svg" width="32">
			</h4>
		</div>
	</div>
	<hr class="style-five"/>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<p>► Six years of professional experience with Front-end
				development and responsive design.</p>

			<div class="row">
				<img class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/angularjs-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/nodejs-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/mongodb-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/javaee-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/solr-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/jquery-logo.png" />
			</div>
			<p class="pull-right">
				<b><a href="#skillSet">more details...</a></b>
			</p>
			<hr>
			<p>► Extensive experience with corporate workflow having worked
				for major organizations across Finance and Retail domains.</p>
			<div class="row">
				<img class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/ethoca-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/accenture-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/cpw-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/igate-logo.png" /> <img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/ge-money-logo.png" />
			</div>
			<p class="pull-right">
				<b><a href="#portfolio">more details...</a></b>
			</p>
			<hr>
			<p>► Quick connect...</p>
			<div class="row">
				<a href="https://www.linkedin.com/in/kensplanet" target="blank"><img
					class="col-xs-3 col-sm-3 col-md-2 col-lg-2 img-responsive"
					src="images/logo/linkedin.png" /></a> <img
					class="col-xs-3 col-sm-3 col-md-2 col-lg-2 img-responsive"
					src="images/logo/skype-logo.png" /><a
					href="mailto:kensplanet@yahoo.com"> <img
					class="col-xs-3 col-sm-3 col-md-2 col-lg-2 img-responsive"
					src="images/logo/email-logo.png" /></a>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<p>
						<small>@kensplanet</small>
					</p>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<p>
						<small>@kensplanet</small>
					</p>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<p>
						<small>kensplanet@yahoo.com</small>
					</p>
				</div>

			</div>
			<br />
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 img-responsive"></div>
				<a href="https://github.com/kensplanet/Resume/raw/master/Resume.pdf"
					download><img
					class="col-xs-4 col-sm-4 col-md-2 col-lg-2 img-responsive"
					src="images/logo/icon_resume.png" /></a>

			</div>
			<br />
			<p class="pull-right">
				<b><a href="#connect">more connections...</a></b>
			</p>
			<hr />

		</div>


		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
			<p>
				► In my spare time, I like to upload technical videos on my <a
					target="_blank"
					href="https://www.youtube.com/channel/UCKxN1Y0jssY7Iv8nzMR7FxQ"><img
					src="images/logo/youtube-logo.png" width="64" /></a> channel, and
				contribute to popular technical forums like <a target="_blank"
					href="http://stackoverflow.com/users/5232935/kensplanet"><img
					src="images/logo/so-logo.png" width="96" /></a> and <a target="_blank"
					href="https://github.com/kensplanet/"><img
					src="images/logo/github-logo.png" width="64" /></a>.
			</p>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe
					src="https://www.youtube.com/embed/1bI1336VEWo?list=PLivabR-0CtuO7NwNWStyU8PSSPp0939CV"
					frameborder="0" allowfullscreen></iframe>
			</div>
			<br />

			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<p class="text-center">
						<b>91</b> Reputation on
					</p>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
					<p class="text-center">
						<b>5</b> Repositories on
					</p>
				</div>

			</div>
			<div class="row">
				<a target="_blank"
					href="http://stackoverflow.com/users/5232935/kensplanet"><img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/so-logo.png" /></a> <a target="_blank"
					href="https://github.com/kensplanet/"><img
					class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
					src="images/logo/github-logo.png" /></a>
			</div>
			<p class="pull-right">
				<b><a href="#videos">more videos...</a></b>
			</p>
			<hr />
			<div id="skillSet" class="jumbotron container-fluid">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h3 class="text-center"><b>Profile</b></h3>
					<hr class="style-five"/>
					<p>I am passionate about front-end development using AngularJS,
						NodeJS, Javascript, Jquery, etc. I am also learning Angular 2.0.</p>
					<p>
						I have also developed a Chrome Extension named <b>Browser Automation Toolkit</b>,

						<a target="_blank"
						   href="https://chrome.google.com/webstore/detail/browser-automation-toolki/giepfplammajibdgpkkigdejjhlhdlpc">https://chrome.google.com/webstore/detail/browser-automation-toolki/giepfplammajibdgpkkigdejjhlhdlpc</a>
					</p>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<p class="text-center">
								<b>91</b> Reputation on
							</p>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
							<p class="text-center">
								<b>5</b> Repositories on
							</p>
						</div>

					</div>
					<div class="row">
						<a target="_blank"
						   href="http://stackoverflow.com/users/5232935/kensplanet"><img
								class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
								src="images/logo/so-logo.png" /></a> <a target="_blank"
																		href="https://github.com/kensplanet/"><img
							class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img-responsive"
							src="images/logo/github-logo.png" /></a>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
					<h3><b>Skills</b></h3>
					<hr class="style-five"/>
					<div ng-repeat="skills in skillsList"
						 class="row skillset-bottom-padding">
						<img ng-repeat="skill in skills"
							 class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
							 src="images/logo/{{skill}}-logo.png" />
					</div>
				</div>

			</div>
		</div>
	</div>
        </div>
	<div class="col-md-3">
		<div class="bs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav bs-sidenav">

				<li class="active">
					<a href="#download">Download Bootstrap</a>
					<ul class="nav">
						<li class=""><a href="#download-compiled">Compiled CSS, JS, and fonts</a></li>
						<li class=""><a href="#download-additional">Additional downloads</a></li>
						<li class=""><a href="#download-cdn">Bootstrap CDN</a></li>
					</ul>
					<a href="#skillSet">Skill Set</a>
				</li>
			</ul>
		</div>
	</div>
</div>