<div class="jumbotron text-center container-fluid">

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		
		<div class="row">
			<a
				href="https://github.com/kensplanet/Resume/raw/master/Resume_Kenneth_John.pdf"
				download><img
				class="col-xs-3 col-sm-3 col-md-3 col-lg-3 img-responsive"
				src="images/logo/adobe-pdf-logo.png" /></a> <a
				href="https://github.com/kensplanet/Resume/raw/master/Resume_Kenneth_John.doc"
				download><img
				class="col-xs-3 col-sm-3 col-md-3 col-lg-3 img-responsive"
				src="images/logo/microsoft-word-logo.png" /></a> <a
				href="https://github.com/kensplanet/Resume/raw/master/Resume_Kenneth_John.txt"
				download><img
				class="col-xs-3 col-sm-3 col-md-3 col-lg-3 img-responsive"
				src="images/logo/notepad-logo.png" /></a>				
		</div>
	</div>
</div>